h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 30px;
    margin: auto 50px;
    text-align: center;
}
h3{
    margin: auto 50px;
    text-align: center;
}